absl-py==2.0.0
accelerate==0.23.0
accumulation-tree==0.6.2
adjustText==1.3.0
aiohttp==3.8.6
aiosignal==1.3.1
anndata==0.10.2
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
array-api-compat==1.4
arrow==1.3.0
asttokens==2.4.0
async-lru==2.0.4
async-timeout==4.0.3
attrs==23.1.0
Babel==2.13.0
backcall==0.2.0
backoff==2.2.1
beautifulsoup4==4.12.2
bleach==6.1.0
blessed==1.20.0
boto3==1.28.63
botocore==1.31.63
bravado==11.0.3
bravado-core==6.1.0
build==1.0.3
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
chex==0.1.7
click==8.1.7
cloudpickle==2.2.1
comm==0.1.4
ConfigArgParse==1.7
contextlib2==21.6.0
contourpy==1.1.1
croniter==1.4.1
cubinlinker-cu11==0.3.0.post1
cuda-python==11.8.2
cudf-cu11==23.4.0
cugraph-cu11==23.4.0
cuml-cu11==23.4.0
cupy-cuda11x==11.6.0
cycler==0.12.1
Cython==3.0.3
dask==2023.3.2
dask-cuda==23.4.0
dask-cudf-cu11==23.4.1
datasets==2.14.5
dateutils==0.6.12
datrie==0.8.2
debugpy==1.8.0
decorator==5.1.1
decoupler==1.5.0
deepdiff==6.6.0
definitions==0.2.0
defusedxml==0.7.1
dill==0.3.7
distributed==2023.3.2.1
dm-tree==0.1.8
docker-pycreds==0.4.0
docrep==0.3.2
docutils==0.20.1
et_xmlfile==2.0.0
etils==1.5.1
exceptiongroup==1.1.3
executing==2.0.0
fastapi==0.103.2
fastjsonschema==2.18.1
fastrlock==0.8.2
filelock==3.12.4
flax==0.7.4
fonttools==4.43.1
fqdn==1.5.1
frozenlist==1.4.0
fsspec==2023.6.0
future==0.18.3
geneformer @ file:///projects/b1196/ewa_group/serniczek/Geneformer
gitdb==4.0.10
GitPython==3.1.37
h11==0.14.0
h5py==3.10.0
huggingface-hub==0.17.3
idna==3.4
igraph==0.10.8
importlib-metadata==6.8.0
importlib-resources==6.1.0
inflect==7.0.0
inquirer==3.1.3
ipykernel==6.25.2
ipython==8.16.1
isoduration==20.11.0
itsdangerous==2.1.2
jax==0.4.18
jaxlib==0.4.18
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-events==0.7.0
jupyter-lsp==2.2.0
jupyter_client==8.4.0
jupyter_core==5.4.0
jupyter_server==2.7.3
jupyter_server_terminals==0.4.4
jupyterlab==4.0.7
jupyterlab-pygments==0.2.2
jupyterlab_server==2.25.0
kiwisolver==1.4.5
leidenalg==0.10.1
lightning==2.0.9.post0
lightning-cloud==0.5.42
lightning-utilities==0.9.0
llvmlite==0.39.1
locket==1.0.0
loompy==3.0.7
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
ml-collections==0.1.1
ml-dtypes==0.3.1
monotonic==1.6
msgpack==1.0.7
mudata==0.2.3
multidict==6.0.4
multipledispatch==1.0.0
multiprocess==0.70.15
natsort==8.4.0
nbclient==0.8.0
nbconvert==7.9.2
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.1
nltk==3.8.1
notebook_shim==0.2.3
numba==0.56.4
numpy==1.23.5
numpy-groupies==0.10.2
numpyro==0.13.2
nvtx==0.2.8
oauthlib==3.2.2
objgraph==3.6.0
omnipath==1.0.8
openpyxl==3.1.5
opt-einsum==3.3.0
optax==0.1.7
orbax-checkpoint==0.4.1
ordered-set==4.1.0
overrides==7.4.0
packaging==23.2
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.1
pathtools==0.1.2
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.1
pip-tools==7.3.0
platformdirs==3.11.0
plotly==5.18.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
protobuf==4.21.12
psutil==5.9.5
ptxcompiler-cu11==0.7.0.post1
ptyprocess==0.7.0
PuLP==2.7.0
pure-eval==0.2.2
pyarrow==10.0.1
pycparser==2.21
pydantic==2.1.1
pydantic_core==2.4.0
Pygments==2.16.1
PyJWT==2.8.0
pylibcugraph-cu11==23.4.1
pylibraft-cu11==23.4.1
pymde==0.1.18
pynndescent==0.5.10
pynvml==11.4.1
pyparsing==3.1.1
pyproject_hooks==1.0.0
pyro-api==0.1.2
pyro-ppl==1.8.6
python-dateutil==2.8.2
python-editor==1.0.4
python-json-logger==2.0.7
python-multipart==0.0.6
pytorch-lightning==2.1.0
pytz==2023.3.post1
pyudorandom==1.0.0
PyYAML==6.0.1
pyzmq==25.1.1
raft-dask-cu11==23.4.1
rapids_singlecell==0.9.1
ratelimiter==1.2.0.post0
readchar==4.0.5
referencing==0.30.2
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==13.6.0
rmm-cu11==23.4.1
rpds-py==0.10.6
s3transfer==0.7.0
safetensors==0.4.0
scanpy==1.9.5
scanpy-utils==0.1.1
scikit-learn==1.3.1
scikit-misc==0.3.0
scipy==1.11.3
scvi-tools==1.0.4
seaborn==0.13.2
Send2Trash==1.8.2
sentry-sdk==1.34.0
session-info==1.0.0
setproctitle==1.3.3
sets==0.3.2
setuptools==68.2.2
shap==0.44.1
simplejson==3.19.2
six==1.16.0
slicer==0.0.7
smmap==5.0.1
snakemake==5.28.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
sparse==0.14.0
stack-data==0.6.3
starlette==0.27.0
starsessions==1.3.0
statsmodels==0.14.0
stdlib-list==0.9.0
swagger-spec-validator==3.0.3
tbb==2021.10.0
tblib==2.0.0
tdigest==0.5.2.2
tenacity==8.2.3
tensorstore==0.1.45
terminado==0.17.1
texttable==1.7.0
threadpoolctl==3.2.0
tinycss2==1.2.1
tokenizers==0.14.1
tomli==2.0.1
toolz==0.12.0
toposort==1.10
torch @ file:///projects/b1196/ewa_group/test1/torch-1.13.1+cu117-cp310-cp310-linux_x86_64.whl#sha256=14c5c9db09df8cf1b3942a3479c779da6e293a84a162d8a6ac71e2bde30e30c5
torchmetrics==1.2.0
torchvision @ file:///projects/b1196/ewa_group/test1/torchvision-0.14.1+cu117-cp310-cp310-linux_x86_64.whl#sha256=83d271a530392814b8c7f69382285cac7c7da79b8f5dcc6bcf56c628547bce53
tornado==6.3.3
tqdm==4.66.1
traitlets==5.11.2
transformers==4.34.0
treelite==3.2.0
treelite-runtime==3.2.0
types-python-dateutil==2.8.19.14
typing_extensions==4.8.0
ucx-py-cu11==0.31.1
umap-learn==0.5.4
UpSetPlot==0.9.0
uri-template==1.3.0
urllib3==2.0.6
uvicorn==0.23.2
wandb==0.15.12
wcwidth==0.2.8
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==11.0.3
wheel==0.46.3
wrapt==1.15.0
xarray==2023.9.0
xgboost==2.0.3
xxhash==3.4.1
yarl==1.9.2
zict==3.0.0
zipp==3.17.0
